.root {
    -fx-background-color: #0d253f;
    -fx-font-family: "Arial";
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #90cea1;
    -fx-font-size: 16px;
}

.button {
    -fx-background-color: #01b4e4;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-background-radius: 5px;
}

.button:hover {
    -fx-background-color: #009ec3;
}


.check-box {
    -fx-font-family: "Arial";
    -fx-background-color: white;    /* Biały prostokąt */
    -fx-border-radius: 8px;        /* Zaokrąglenie ramki */
    -fx-background-radius: 8px;    /* Zaokrąglenie tła */

    -fx-pref-width: -1px;          /* Zmniejszona szerokość prostokąta */
    -fx-pref-height: -1px;         /* Zmniejszona wysokość prostokąta */

    -fx-padding: 4px;              /* Mniejsze odstępy wewnątrz */
    -fx-alignment: center-left;    /* Wyrównanie tekstu */
}

/* Ukrycie domyślnego kwadratu */
.check-box .box {
    -fx-opacity: 1; /* Usunięcie widoczności kwadratu */
}

/* Stylizacja checkboxa, gdy jest zaznaczony */
.check-box:selected {
    -fx-background-color: lightgreen; /* Zmiana tła prostokąta */
    -fx-border-color: darkgreen;      /* Zmiana koloru ramki */
}

/* Stylizacja tekstu wewnątrz checkboxa */
.check-box .text {
    -fx-font-size: 8px; /* Zmniejszony rozmiar czcionki */
    -fx-fill: black;    /* Kolor tekstu */
    -fx-padding: 0 0 0 -20px;
}

/* Zmiana kursora na wskazujący */
.check-box:hover {
    -fx-cursor: hand;
}

.range-slider .axis {
    -fx-font-weight: bold;
    -fx-tick-label-fill: #90cea1;
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

.radio-button {
    -fx-text-fill: #90cea1;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
