{% extends 'base.html' %}
{% block content %}
<div class="auth-container">
    <h2>Załóż konto</h2>

    <div class="card">
        <div class="card-content">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-block">Zarejestruj</button>
            </form>
            <p class="login-link-text">
                Masz już konto? <a href="{% url 'user_login' %}">Zaloguj się</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}