{% extends 'base.html' %}

{% block content %}
<div class="card auth-card">
    <div class="card-content">
        <h2 class="auth-title">E-mail wysłany!</h2>
        
        <p class="auth-text">
            Wysłaliśmy instrukcję resetowania hasła na podany adres e-mail (jeśli istnieje w naszej bazie).
        </p>
        
        <p class="auth-text">
            Jeśli nie widzisz wiadomości, sprawdź folder spam.
        </p>

        <a href="{% url 'user_login' %}" class="btn btn-block">Wróć do logowania</a>
    </div>
</div>
{% endblock %}