{% extends 'base.html' %}

{% block content %}
<div class="card auth-card">
    <div class="card-content">
        <h2 class="auth-title">Zresetuj hasło</h2>
        
        <p class="auth-text">
            Zapomniałeś hasła? Podaj swój adres e-mail , a wyślemy ci link do ustawienia nowego.
        </p>

        <form method="post" novalidate>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-block">Wyślij link resetujący hasło</button>
        </form>
    </div>
</div>
{% endblock %}